body,
html {
  height: 100%;
  margin: 0;
  color: #777;
  font-family: 'Lato', sans-serif; }

.intro {
  height: 100%; }
  .intro .nav-bar {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10; }
    @media (min-width: 768px) {
      .intro .nav-bar {
        justify-content: flex-end; } }
    .intro .nav-bar a {
      text-decoration: none; }
      .intro .nav-bar a li {
        right: 0.5rem;
        margin: 0 0.5rem;
        position: relative;
        color: white;
        list-style-type: none;
        letter-spacing: 0;
        border-bottom: 2px solid white; }
        @media (min-width: 768px) {
          .intro .nav-bar a li {
            letter-spacing: 0.3rem;
            border: unset; }
            .intro .nav-bar a li:before {
              content: "";
              position: absolute;
              width: 0;
              height: 2px;
              bottom: 0;
              left: 0;
              background-color: white;
              visibility: hidden;
              transition: all 0.3s ease-in-out 0s; }
            .intro .nav-bar a li:hover {
              cursor: pointer; }
              .intro .nav-bar a li:hover:before {
                visibility: visible;
                width: 100%; } }
  .intro .intro-img {
    height: 100%; }
    @media (min-width: 768px) {
      .intro .intro-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/home-toronto.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .intro .intro-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/home-toronto.jpg"); } }
    .intro .intro-img .content-container {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      position: relative; }
      .intro .intro-img .content-container .name-container {
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.9);
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        text-align: center; }
        .intro .intro-img .content-container .name-container .name {
          text-decoration: underline; }
        .intro .intro-img .content-container .name-container .description {
          text-decoration: unset; }
      .intro .intro-img .content-container .skill {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0.5rem;
        background: rgba(0, 0, 0, 0.5); }
        .intro .intro-img .content-container .skill [class*="-icon"] > * {
          width: 3rem;
          height: 3rem;
          border-radius: 20%; }
        .intro .intro-img .content-container .skill .html-icon,
        .intro .intro-img .content-container .skill .css-icon,
        .intro .intro-img .content-container .skill .js-icon {
          flex: 1 1 33.33%;
          order: -1; }
          @media (min-width: 768px) {
            .intro .intro-img .content-container .skill .html-icon,
            .intro .intro-img .content-container .skill .css-icon,
            .intro .intro-img .content-container .skill .js-icon {
              flex: unset;
              order: 0; } }

.projects {
  min-height: 100%; }
  .projects .title {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.5rem;
    text-align: center;
    text-align: center; }
  .projects .proj-name {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center; }
    .projects .proj-name .line {
      width: 10px;
      background: black; }
  .projects .project-0-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-0-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/twitch.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-0-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/twitch.PNG"); } }
  .projects .project-1-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-1-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/weather.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-1-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/weather.PNG"); } }
  .projects .project-2-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-2-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/pomo.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-2-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/pomo.PNG"); } }
  .projects .project-3-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-3-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/wiki.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-3-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/wiki.PNG"); } }
  .projects .project-4-img {
    min-height: 100vh; }
    @media (min-width: 768px) {
      .projects .project-4-img {
        position: relative;
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./assets/images/quote.PNG");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; } }
    @media (max-width: 768px) {
      .projects .project-4-img {
        position: relative;
        opacity: 0.65;
        background: center/cover no-repeat url("./assets/images/quote.PNG"); } }

.contact {
  background: #e5e6e9; }
  @media (min-width: 768px) {
    .contact {
      padding-bottom: 2em; } }
  .contact .title {
    color: white;
    background: #282e34;
    padding: 1rem;
    margin: 0;
    letter-spacing: 0.5rem;
    text-align: center; }
  .contact .contact-icons {
    display: flex;
    flex-flow: row wrap; }
    @media (min-width: 768px) {
      .contact .contact-icons {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0; } }
    .contact .contact-icons > * {
      padding-top: 1em; }
    .contact .contact-icons .fa {
      vertical-align: middle;
      font-size: 1.5em; }
      @media (min-width: 768px) {
        .contact .contact-icons .fa {
          font-size: 2em; } }
    .contact .contact-icons a {
      color: black; }
